.flex-spacer {
    flex: 1 1 auto;
}

.input-name {
    width:100%;
    font-size: larger;
}

.input-label {
    width:50%;
    margin-bottom: 20px;
}

.input-price {
    width:50%;
    margin-bottom: 20px;
}

.input-description {
    width:100%;
    font-size: larger;
}