<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h2>Book [{{book.id}}] detail</h2>
        <hr>
    </div>
  </div>

  <div fxFlex *ngIf="!isLoading && !isLoadingError">
    <form novalidate [formGroup]="bookUpdateForm" #lform="ngForm" (ngSubmit)="onBookUpdate()">
      <div fxLayout="column" fxLayout.gt-sm="row">
        <div fxFlex="70">
          <ng-template [ngIf]="bookUpdateEnabled">
            <mat-form-field class="input-title" appearance="outline">
              <mat-label>Book title</mat-label>
              <input matInput formControlName="title" placeholder="Book title" type="text" required>
              <mat-error *ngIf="bookUpdateFormErrors.title"> {{bookUpdateFormErrors.title}} </mat-error>
            </mat-form-field>
            <mat-form-field class="input-author" appearance="outline">
              <mat-label>Book author</mat-label>
              <mat-select formControlName="authorId" name="author">
                <mat-option *ngFor="let author of authors" [value]="author.id">
                  {{author.name}} {{author.surname}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="input-publisher" appearance="outline">
              <mat-label>Book publisher</mat-label>
              <mat-select formControlName="publisherId" name="publisher">
                <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
                  {{publisher.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="input-label" appearance="outline">
              <mat-label>Book label</mat-label>
              <input matInput formControlName="label" placeholder="Book label" type="text">
              <mat-hint>Hint: use catchy words like NEW or HOT</mat-hint>
            </mat-form-field>
            <mat-form-field class="input-price" appearance="outline">
              <mat-label>Book price</mat-label>
              <input matInput formControlName="price" placeholder="Book price" type="number" required>
              <span matSuffix>&nbsp; €</span>
              <mat-error *ngIf="bookUpdateFormErrors.price"> {{bookUpdateFormErrors.price}} </mat-error>
            </mat-form-field>      

            <mat-form-field class="input-pages" appearance="outline">
              <mat-label>Book pages</mat-label>
              <input matInput formControlName="pages" placeholder="Book pages" type="number" required>
              <mat-error *ngIf="bookUpdateFormErrors.pages"> {{bookUpdateFormErrors.pages}} </mat-error>
            </mat-form-field>  
            <mat-form-field class="input-isbn" appearance="outline">
              <mat-label>Book ISBN</mat-label>
              <input matInput formControlName="isbn" placeholder="Book ISBN" type="text" required>
              <mat-error *ngIf="bookUpdateFormErrors.isbn"> {{bookUpdateFormErrors.isbn}} </mat-error>
            </mat-form-field>     

          </ng-template>
          <ng-template [ngIf]="!bookUpdateEnabled">
            <h2>{{book.title}}</h2>
            <h4>{{book.author.name}} {{book.author.surname}}</h4>
            <button mat-flat-button color="warn">{{book.label}}</button>
            <hr>
            <dl>
              <dt>Publisher:</dt>
              <dd>{{book.publisher.name}}</dd>
              <dt>Price:</dt>
              <dd>{{book.price}}&nbsp;€</dd>
              <dt>Pages:</dt>
              <dd>{{book.pages}}&nbsp;€</dd>
              <dt>ISBN:</dt>
              <dd>{{book.isbn}}&nbsp;€</dd>
            </dl>
          </ng-template>

          <p *ngIf="bookUpdateEnabled">
            <mat-form-field class="input-synopsis" appearance="outline">
              <mat-label>Book synopsis</mat-label>
              <textarea matInput formControlName="synopsis" placeholder="Book synopsis" required></textarea>
              <mat-error *ngIf="bookUpdateFormErrors.synopsis"> {{bookUpdateFormErrors.synopsis}} </mat-error>
            </mat-form-field>
          </p>
          <p *ngIf="!bookUpdateEnabled">
            {{book.synopsis}}
          </p>
          <p *ngIf="bookUpdateEnabled">
            <a mat-button color="primary" [disabled]="bookUpdateForm.invalid" (click)="onBookUpdate()">UPDATE</a>
            <a mat-button color="warn" (click)="onBookDelete()">DELETE</a>
          </p>
          <mat-slide-toggle color="primary" (change)="toggleEdit($event)" [checked]="bookUpdateEnabled">
            Allow modification
          </mat-slide-toggle>
        </div>
        <div fxFlex="30">
          <mat-card>
            <img mat-card-image src="{{ baseURL }}images/{{ book.imageIds[bookImageIdx] }}"
              alt="Image {{bookImageIdx}} for book {{book.id}}" *ngIf="bookImageSize > 0">
            <ng-template [ngIf]="bookUpdateEnabled">
              <div class="center">
                <ngx-file-drop dropZoneLabel="Drop images here" accept=".png,.jpg,.jpeg" (onFileDrop)="onImageDrop($event)">
                  <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    Drop images here&nbsp;&nbsp;
                    <a mat-raised-button color="primary" (click)="openFileSelector()">Browse</a>
                  </ng-template>
                </ngx-file-drop>
              </div>
            </ng-template>
            <mat-card-actions *ngIf="bookImageIdx >= 0">
              <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                <a mat-button (click)="onImagePrev()"><span class="fa fa-chevron-left fa-lg" *ngIf="bookImageSize > 1"></span></a>
                <a mat-button (click)="onImageDelete()" color="warn" *ngIf="bookUpdateEnabled && (bookImageSize >= 1)"><span class="fas fa-trash fa-lg"></span></a>
                <a mat-button (click)="onImageNext()"><span class="fa fa-chevron-right fa-lg" *ngIf="bookImageSize > 1"></span></a>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </form>
  </div>
  <div [hidden]="!isLoading">
      <mat-spinner></mat-spinner>
      <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="isLoadingError">
      <h2>Error</h2>
      <h4>{{errorMessage}}</h4>
  </div>
</div>
