.table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
}

table {
    width: 100%;
}

/* Column Widths */
th {
    font-size: 20px;
}
td.mat-column-id {
    width: 240px;
}
th.mat-column-action,
td.mat-column-action {
    width: 80px;
    text-align:center;
}
th.mat-column-items,
td.mat-column-items {
    width: 80px;
    text-align:left;
}
th.mat-column-status,
td.mat-column-status {
    width: 80px;
    text-align:left;
}
th.mat-column-created,
td.mat-column-created {
    width: 160px;
    text-align:left;
}
th.mat-column-updated,
td.mat-column-updated {
    width: 160px;
    text-align:left;
}

/* Icon styling */
.add-icon {
    font-size: 20px;
}