<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="container">
            <div>
                <h2>Order list</h2>
            </div>
            <div>
                &nbsp;
            </div>
        </div>
    </div>
  </div>

  <div fxFlex fxLayout="column">

    <ng-template [ngIf]="!isLoading && !isLoadingError">
        <div class="table-container mat-elevation-z2">
            <table mat-table [dataSource]="orders" matSort matSortActive="id" 
            matSortDisableClear matSortDirection="desc">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let order"> {{order.id}} </td>
                </ng-container>
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> Username </th>
                    <td mat-cell *matCellDef="let order"> {{ order.username }} </td>
                </ng-container>
                <ng-container matColumnDef="items">
                    <th mat-header-cell *matHeaderCellDef> Items </th>
                    <td mat-cell *matCellDef="let order"> {{ order.itemsCount() }} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let order" [ngSwitch]="order.status"> 
                        <i *ngSwitchCase="'NEW'" class="fas fa-clipboard-list fa-2x" matTooltip="New"></i>
                        <i *ngSwitchCase="'PACKING'" class="fas fa-clipboard-check fa-2x" matTooltip="Packing"></i>
                        <i *ngSwitchCase="'SHIPPED'" class="fas fa-shipping-fast fa-2x" matTooltip="Shipped"></i>
                        <i *ngSwitchDefault class="fas fa-clipboard-list fa-2x"></i>
                    </td>
                </ng-container>
                <ng-container matColumnDef="created">
                    <th mat-header-cell *matHeaderCellDef> Created </th>
                    <td mat-cell *matCellDef="let order"> {{ order.creationTime | date:'short' }} </td>
                </ng-container>
                <ng-container matColumnDef="updated">
                    <th mat-header-cell *matHeaderCellDef> Updated </th>
                    <td mat-cell *matCellDef="let order"> {{ order.updateTime | date:'short' }} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let order">
                        <button mat-raised-button color="primary" [routerLink]="['/purchasing/orders/', order.id]"> Detail </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="ordersTableColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: ordersTableColumns;"></tr>
            </table>
        </div> 
        <div class="table-paginator">
            <mat-paginator [length]="ordersTotal" [pageSize]="ordersPaginatorSize" 
                    [pageSizeOptions]="ordersPaginatorSizeOptions" (page)="handlePaging($event)"></mat-paginator>
        </div>
    </ng-template>
    <div [hidden]="!isLoading">
        <mat-spinner></mat-spinner>
        <h4>Loading . . . Please Wait</h4>
    </div>
    <div *ngIf="isLoadingError">
        <h2>Error</h2>
        <h4>{{errorMessage}}</h4>
    </div>
  </div>

</div>
