<p>
    <mat-toolbar color="primary" *ngIf="logged" [ngSwitch]="routeUrl">
        <mat-toolbar-row>
            <button mat-flat-button routerLink="/home" color="primary" class="companyName">Alexandria</button>
            <button mat-flat-button routerLink="/inventory" color="primary" routerLinkActive="active"><i class="fas fa-list-alt fa-lg"></i> Inventory</button>
            <span class="flex-spacer"></span>
            <button mat-flat-button (click)="logOut()" color="primary"><i class="fa fa-sign-out-alt fa-lg"></i> Logout</button>
        </mat-toolbar-row>

        <mat-toolbar-row *ngIf="routeUrl.indexOf('/inventory') !== -1">
            <button mat-flat-button routerLink="/inventory/products" routerLinkActive="active" color="primary"><i class="fas fa-cube"></i>&nbsp;&nbsp;Products</button>
            <button mat-flat-button routerLink="/inventory/persons" routerLinkActive="active" color="primary"><i class="fas fa-users"></i>&nbsp;&nbsp;Persons</button>
            <button mat-flat-button routerLink="/inventory/companies" routerLinkActive="active" color="primary"><i class="far fa-building"></i>&nbsp;&nbsp;Companies</button>
            <span class="flex-spacer"></span>
            <button mat-flat-button routerLink="/inventory/books" routerLinkActive="active" color="primary"><i class="fas fa-book"></i>&nbsp;&nbsp;Books</button>
        </mat-toolbar-row>
    </mat-toolbar>
</p>
