.flex-spacer {
    flex: 1 1 auto;
}

.input-title {
    width:100%;
    font-size: larger;
}

.input-author {
    width:50%;
}

.input-publisher {
    width:50%;
}

.input-label {
    width:50%;
    margin-bottom: 20px;
}

.input-price {
    width:50%;
    margin-bottom: 20px;
}

.input-pages {
    width:50%;
}

.input-isbn {
    width:50%;
}

.input-synopsis {
    width:100%;
    font-size: larger;
}