<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="container">
            <div>
                <h2>Product list</h2>
            </div>
            <div>
                <button mat-button color="primary" (click)="onProductNew()" matTooltip="Insert new company"><i class="fas fa-plus-circle add-icon"></i></button>
            </div>
        </div>
    </div>
  </div>

  <div fxFlex fxLayout="column">

    <ng-template [ngIf]="!isLoading && !isLoadingError">
        <div class="table-container mat-elevation-z2">
            <table mat-table [dataSource]="products" matSort matSortActive="id" 
            matSortDisableClear matSortDirection="desc">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let product"> {{product.id}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let product"> {{product.name}} </td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let product"> {{ (product.description.length > 30)? (product.description | slice:0:30)+'..':(product.description) }} </td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let product" [ngSwitch]="product.type">  
                        <i *ngSwitchCase="'book'" class="fas fa-book"></i>
                        <i *ngSwitchDefault class="fas fa-cube"></i>
                    </td>
                </ng-container>
                <ng-container matColumnDef="label">
                    <th mat-header-cell *matHeaderCellDef> Label </th>
                    <td mat-cell *matCellDef="let product"> {{product.label}} </td>
                </ng-container>
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Price </th>
                    <td mat-cell *matCellDef="let product">  {{product.price}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let product">
                        <button mat-raised-button color="primary" [routerLink]="['/inventory/products/', product.id]"> Detail </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="productsTableColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: productsTableColumns;"></tr>
            </table>
        </div> 
        <div class="table-paginator">
            <mat-paginator [length]="productsTotal" [pageSize]="productsPaginatorSize" 
                    [pageSizeOptions]="productsPaginatorSizeOptions" (page)="handlePaging($event)"></mat-paginator>
        </div>
    </ng-template>
    <div [hidden]="!isLoading">
        <mat-spinner></mat-spinner>
        <h4>Loading . . . Please Wait</h4>
    </div>
    <div *ngIf="isLoadingError">
        <h2>Error</h2>
        <h4>{{errorMessage}}</h4>
    </div>
  </div>

</div>
